link(rel="stylesheet" href="/components/address/style/style.css")
#address
  header.flow
    .flow-item.flow-address.select
      .address-text 地址确认
      .flow-line
    .flow-item.flow-order
      .address-text 查看订单
      .flow-line
    .flow-item.flow-pay
      .address-text 支付
      .flow-line
    .flow-item.flow-confirm
      .address-text 订单确认
      .flow-line
  section.content
    section.delivery-address
      header.title-wrap
        span.line-v
        span.title 配送地址
        span.line-v
      ul.addresses
        li(v-for="(item,index) in filterAddress").address-wrap(:class="{'select':currentAddressIndex==index}" @click="currentAddressIndex=index")
          .wrap
            dl.address-info
              dt.title
                span.province {{item.province}}
                span.district {{item.district}}
                span.name {{item.userName}}
              dd.address {{item.streetName}}
              dd.phone {{item.phone}}
            .address-state(:class="{'default':item.isDefault}" @click="setDefault(item.addressId)")
            .opacity-wrap
              i.icon.icon-edit(@click='editAddress(item)')
              i.icon.icon-delete(@click='delConfirm(item)')
        .address-wrap.add-address-wrap(@click='editAddress')
          span.add-address
            i.icon.icon-plus2
      .more(:class="{'arrow-top':arrowTopFlag}" @click='loadMore') more
      section.delivery-method
        header.title-wrap
          span.line-v
          span.title 配送方式
          span.line-v
        ul.methods
          li(v-for='(item,index) in deliveryMethodList').method-item(:class="{'select':index==currentMethodIndex}" @click="currentMethodIndex=index")
            .method-title {{item.deliveryMethod}}
            .method-price {{item.price | formatMoney(0)}}
      footer
        .line-v.line-devide
        .submit.danger 下一步

















