link(rel="stylesheet" href="/components/address/style/style.css")
#address
  header.flow
    .flow-item.flow-address.select
      .address-text 地址确认
      .flow-line
    .flow-item.flow-order
      .address-text 查看订单
      .flow-line
    .flow-item.flow-pay
      .address-text 支付
      .flow-line
    .flow-item.flow-confirm
      .address-text 订单确认
      .flow-line
  section.content
    section.delivery-address
      header.title-wrap
        span.line-v
        span.title 配送地址
        span.line-v
      section.addresses
        .address-wrap.select
          .wrap
            .address-info
              .title
                span.province 地球
                span.district 亚洲
                span.name LuoYe
              .address 地球村 亚洲楼 中国层 502号 地球村亚洲楼中国层502号地球村亚洲楼中国层502号
              .phone 15912345678
              .address-state.default
            .opacity-wrap
              i.icon.icon-edit
              i.icon.icon-delete
        .address-wrap
          .wrap
            .address-info
              .title
                span.province 地球
                span.district 亚洲
                span.name LuoYe
              .address 地球村 亚洲楼 中国层 502号 地球村亚洲楼中国层502号地球村亚洲楼中国层502号
              .phone 15912345678
              .address-state
            .opacity-wrap
              i.icon.icon-edit
              i.icon.icon-delete
        .address-wrap
          .wrap
            .address-info
              .title
                span.province 地球
                span.district 亚洲
                span.name LuoYe
              .address 地球村 亚洲楼 中国层 502号 地球村亚洲楼中国层502号地球村亚洲楼中国层502号
              .phone 15912345678
              .address-state
            .opacity-wrap
              i.icon.icon-edit
              i.icon.icon-delete
        .address-wrap.add-address-wrap
          span.add-address
            i.icon.icon-plus2
      .more more
      section.delivery-method
        header.title-wrap
          span.line-v
          span.title 配送方式
          span.line-v
        section.methods
          .method-item.select
            .method-title 标准配送
            .method-price Free
          .method-item
            .method-title 高级配送
            .method-price ￥ 180元
      footer
        .line-v.line-devide
        .submit.danger 下一步

















