@import "mixins/row-num.styl"

.align-left
  text-align left

.align-right
  text-align right

.left
  float left

.right
  float right

.line-v
  border-top 1px solid
  &.line-devide
    margin 40px 0
    color #ccc

.checkbox
  checkbox-width = 20px
  position relative
  top 50%
  transform translateY(-50%)
  height checkbox-width
  width checkbox-width
  border-radius 50%
  border 1px solid #9d9d9d
  cursor pointer
  &.checked
    background-color #ef751f
    border-color #ef751f
  &.checked-all
    background radial-gradient(#f0741e, #ef751f)
    border-color #ef631c
  &.checked:after
    position relative
    top 50%
    display inline-block
    content ''
    height checkbox-width* 0.5
    width checkbox-width* 0.28
    border 2px solid #ffffff
    border-left none
    border-top none
    transform translateY(-50%) rotateZ(45deg) translate(-15%, -5%)

.submit
  display inline-block
  text-align center
  color #ffffff
  border-radius 5px
  cursor pointer
  width 13em
  line-height 2.2
  font-size 18px
  //letter-spacing 1em
  //text-indent 1em //设置letter-spacing后文字会向左边靠设置的位置，需要用text-indent同样的位置实现居中
  letter-spacing 0.5em
  text-indent 0.5em //设置letter-spacing后文字会向左边靠设置的位置，需要用text-indent同样的位置实现居中
  &:hover
    opacity 0.8 !important
a.submit
    text-decoration none
.flow-item
  item-color = #c5c5c5
  color item-color
  .flow-line
    line-width = 2px
    color item-color
    width 100%
    height 0
    border-top line-width solid
    text-align center
    margin  6*line-width 0
    &:before
      border-width 4*line-width //为什么只有4倍以上才可以居中
      border-style solid
      content ''
      margin-left - @border-width
      margin-top -(line-width / 2)//因为球的顶端是线的底端，需要居中到线的中间还需要加线高度的一半
      display inline-block
      border-radius 50%
      transform translateY(-50%)//margin-top可以上移一部分，但是达到一个值后再怎么负值都没有反应

.title-wrap
  margin 50px 0 40px
  font 24px / 2  a
  font-weight bold
  color #5e5e5e
  letter-spacing 0.3em
  text-indent @letter-spacing
  text-align center
  .title
    width row(1.8)
    text-align center
  .line-v
    width row(5)
    margin-top -4px
    vertical-align middle
    opacity 0.7//通过透明控制与父元素color的颜色关系


.more
  width 100px
  cursor pointer
  color #cccccc
  margin 30px auto
  text-align center
  &:after
    content ''
    display inline-block
    width 6px
    height @width
    border 2px solid
    border-top none
    border-right none
    transform rotateZ(-45deg)
    vertical-align 2px
    margin-left 6px
  &.arrow-top
    &:after
      transform rotateZ(135deg)
      vertical-align -2px



