::selection
  color #262626
  background #aee1ff

html, body
  height 100%
  color #383838

body, dl, dd, p
  margin 0
input
  padding 0
ul
  margin 0
  padding 0

li
  list-style none

th, td
  padding 0

span, i
  display inline-block

label ,input
  display inline-block
  font-size 16px

input[type='submit']
  border none

input[type='submit'], .submit
  margin 10px
  padding 10px 15px

#container
  font 16px / 1.5 "Arial"
  width 1280px
  margin 0 auto
  height 100%
