html
  head
    meta(charset='utf-8')
    block head
    link(rel="stylesheet" href="/style/reset.css")
    link(rel="stylesheet" href="/style/main.css")
    link(rel="stylesheet" href="/font/fonts/font.css")
    link(rel="stylesheet" href="/style/mixin/bg-color.css")
    block style
  body
    block container
    block script

