@import "mixins/row-num.styl"
@import "mixins/box-shadow-around.styl"
@import "mixins/border-radius-left.styl"
@import "mixins/border-radius-right.styl"
#shoppingCar
  .title-wrap
    margin-top 50px
    font 20px / 1.5 a
    font-weight 400
    text-align center
    .title
      width row(1.8)
      text-align center
    .line-v
      width row(5)
      height 1px
      background-color #cccccc
      margin-top -4px
      vertical-align middle

  .detial-wrap
    th-height = 50px
    td-height = 3 *th-height
    margin-top 30px
    text-align center
    width 100%
    border-collapse: collapse;
    line-height th-height
    tr
      th
        radius-width = 8px
        color #f9f9f9
        background #585858
        &:first-child
          border-radius-left 4px
        &:last-child
          border-radius-right 4px
      td
        border-bottom 1px solid #cccccc
        height td-height
        width row(1.2)
      td.goods-detial-wrap
        width row(7.2)
        vertical-align top
        .goods-detial
          position relative
          top 50%
          transform translateY(-50%)
          width row(10.5)
          height 60%
          .good-img
            margin 0 5px
            height 0.6 *td-height
            width 1.4 *@height
            img
              height 100%
              width 100%
          .good-text
            line-height 2.2
            text-align left
            height 100%
            margin-left 25px
            font-weight bold
            width row(7)
            .gifts
              width 100%
              dt
                display inline-block
                margin-right 10px
              dd
                display inline-block
                color #ababab
                margin-right 15px

      td.buy-num
        padding-top 45px
        .choosenum-handler
          i
            minus-width = 8px
            minus-height = 2px
            icon-color = #2f3130
            display inline-block
            height 1.5 *minus-width
            width 1.5 *minus-width
            position relative
            cursor pointer
            padding 0 6px
            &:hover
              opacity 0.7
            &.icon-minus
              &:before
                content ''
                display inline-block
                position absolute
                top 50%
                left 50%
                transform translate(-50%, -50%)
                width 8px
                height 2px
                background-color icon-color
            &.icon-plus
              &:before, &:after
                content ''
                display inline-block
                position absolute
                background-color icon-color
              &:before
                width minus-width
                height minus-height
                top 50%
                left 50%
                transform translate(-50%, -50%)
              &:after
                top 50%
                left 50%
                transform translate(-50%, -50%)
                width minus-height
                height minus-width
          .countbox
            vertical-align middle
            text-align center
            width 3em
            margin -3px 2px 0
            border 1px solid #6190ef
            border-radius 2px
        .stock
          line-height 3
          font-size 14px
      td.item-amount
        color #e0231f
      td
        i.icon.icon-delete //需要有个i在icon上，icon的高度才会是字体的高度，不然会是td的高度，样式不好设置
          color #1e1c1c
          cursor pointer
          &:hover
            opacity 0.7

  .checkbox-wrap
    height 100%
    width row(1.5)
  .checkout-wrap
    height 80px
    line-height @height
    .total-check-wrap
      text-align center
      width row(7.2)
      .check-text
        padding-top 1px
        text-align left
        font-weight 600
        .checked-all, .unchecked-all
          cursor pointer
        .checked-all
          padding-left 0.5em
          color #ff302e
          &:hover
            opacity 0.65
        .unchecked-all
          padding-left 1.5em
          &:hover
            opacity 0.65 !important
    .checkout
      .total-money
        display inline-block
        font-size 20px
        margin-right 1.5em
        span
          margin-right 0.8em
          &.total-amount
            color #e0231f
      input
        color #ffffff
        font-size 20px
        width 10em
        line-height 1.5
        border-radius 5px
        cursor pointer
        &:hover
          opacity 0.8 !important