@import "mixins/icon-close.styl" //mixin中的引用时不会影响外边的代码的
@import "mixins/box-shadow-around.styl" //mixin中的引用时不会影响外边的代码的
@import "mixins/center-y-relative.styl"
@import "mixins/center-both-absolute.styl"
#popUp
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background rgba(204, 204, 204, 0.4)
  .alert
    background-color #fff
    center-both-absolute()
    width 500px
    height 320px
    border-radius 3px
    box-shadow 1px 1px 15px #636363
    .icon-close
      color #5e5e5e //color还可以控制shadow的颜色 color可以控制文字，border,shadow
      icon-close()
      right 15px
      top 15px
      &:before, &:after
        box-shadow 1px 1px 1px #a1a1a1
    .content
      height 230px
      margin 0 auto
      center-y-relative()
      width 80%
      .warning-text
        height 130px
        line-height @height
        text-align center
      .choose-wrap
        width 84%
        margin 0 auto
        font-size 0
        padding-bottom 30px
        .button
          width = 46%
          margin = (100% - 2 *width)
          width width
          padding 12px 0
          text-align center
          font-size 16px
          display inline-block
          border-radius 3px
          box-shadow-around 1px 1px #e5e5e5
          cursor pointer
          &:last-child
            margin-left margin
          &.yes
            width @width - 2px
            height @height -2px
            border 1px solid red

