link(rel="stylesheet" href="/components/shoppingCar/style/style1.css")
#shoppingCar
  header.title-wrap
    span.line-v
    span.title 购物车
    span.line-v
  form
    table.detial-wrap
      tr
        th 商品信息
        th 商品金额
        th 商品数量
        th 总金额
        th 编辑
      tr
        td.goods-detial-wrap
          .checkbox-wrap.left
            span.checkbox.checked
          .goods-detial.right
            .good-img.left
              img(src='/img/test.jpg')
            .good-text.left
              .name 喵星人
              dl.gifts
                dt 赠送：
                dd 萌萌
        td.unitprice 19
        td.buy-num
          .choosenum-handler
            i.icon-minus
            span.countbox 2
            i.icon-plus
          .stock.onsell
        td.amount 0
        td.icon.icon-delete
    footer.checkout-wrap
      .total-check-wrap.left
        .checkbox-wrap.left
          span.checkbox.checked
        .check-text
          span.checked-all 全选
          span.unchecked-all 取消全选
      .checkout.right
        .total-money
          span.name 总金额 :
          span.amount 5元
        input.danger(type='submit' value='结账')













