link(rel="stylesheet" href="/components/address/popUp/style/style.css")

#popUp(v-if='popUpFlag')
  .alert
    i.icon-close(@click='popUpFlag=false')
    .content
      .warning-text 你确认删除此订单信息吗？
      .choose-wrap
        .button.yes(@click='delProduct') YES
        .button.no.danger(@click='popUpFlag=false') NO









