link(rel="stylesheet" href="/components/popUp/style/style.css")

#popUp(v-if='popUpFlag')
  .alert
    i.icon-close(@click='showPopUp(false)')
    .content
      .warning-text 你确认删除此订单信息吗？
      .choose-wrap
        .button.yes YES
        .button.no.danger(@click='showPopUp(false)') NO

//-script(src="/components/popUp/vuejs/main.js")








