extends ../layout
block head
  title shoppingCart
block container
  #app
    #container
      include ../../public/components/shoppingCar/main
    include ../../public/components/popUp/main
block script
  script(src="/js/vuejs/pages/shoppingCart.js")
